h3 {
  color: darkblue;
  font-size: 25px;
  font-family: 'Big Shoulders Display', cursive;
}
.form {
  max-width: 520px;
  display: flex;
  justify-content: space-between;

  .add {
    max-height: 40px;
    margin-top:8px;
  }
}

.table {
  max-width: 1150px;
}

p {
  color: #CC0000;
}

.actionBtn {
  margin-right: 7px;
  max-height: 40px;
}
.actionBtn :last-child {
  margin-right: 0;
}



